page-gymprofile {

	.cardLayout {
		ion-card {
	   		position: relative;
	   		margin-top: 40px;
	    }	  

	}

	.bCard{
	    position: absolute;
	    top: 70%;
	    width: 100%;
	    text-align: left;
		
	 }

	.card-title {
	 	position: absolute;
	 	top: 50%;
	 	font-size: 1.5em;
	 	width: 100%;
	 	font-weight: normal;
	 	color: #fff;
	 	text-align :center;
	 }

	 .titel {
		text-align: center;
		font-size: 2em;
	}

	.userPic {
	 	width: 100%;
	 	text-align: center;
		 
		img {
		    padding: 5px;
		    width: 50px;
		    height: 70px;
		    text-color: black;
		}
		
		ion-icon{
			font-size: 50px;
			color: #678567;
		}
	}

	.box {
		width: 40%;
		height: 70px;
		float: left;
		margin-bottom: 2%;

		 ion-icon{
		 	display: block;
		 	text-align: center;
		 	color: #678567;
		 }

		 .button-inner{
			margin-top: 10px;
		 	display: block;
		 }
	}

	.left-box {
		 margin-left: 9%;
		 margin-right: 2%;
		
	}	
}