<ion-header>
  <ion-navbar class = "navigationbar" color='navbarColor'>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

     <button ion-button clear color ='navbarTextColor' class ="navButton" (click)= "toHomepage()">Gym<span class="another-color">holder</span></button>
     <button ion-button clear icon-search>
     <ion-icon name="search" color='white'></ion-icon>
</button>

  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list>
    <ion-list-header>
        Pending challenges
      </ion-list-header>
    <ion-item *ngFor="let challenge of pendingChallenges">
    <!--     <ion-icon name = "bonfire" (click) ="sendResponse()"></ion-icon> -->
    <p class="titel">{{challenge.message}}</p>
    <p class ="text">Challenger: {{challenge.sender}} Exercise: {{challenge.sport_name}} Requested reps: {{challenge.requested_reps}}</p>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>
      Completed challenges 
    </ion-list-header>
      <ion-item *ngFor="let challenge of completeChallenges">
       <p class="titel">{{challenge.message}}</p>
        <p class ="text">Challenger: {{challenge.sender}} Exercise: {{challenge.sport_name}}</p>
     </ion-item>
    </ion-list>

  </ion-content>
