page-map {

	.searchbar{
	        position: absolute;
	        margin-top: 70px;
	      }

	      .scroll {
	        height: 100%
	      }

	      #map {
	        width: 100%;
	        height: 100%;
	      }

	.navigationbar {

		text-align :center;

	}

	.infoWinHeader {
		font-size: 14px;
		font-weight: bold;
		font-face: Tahoma;
	}

	.infoWinBody {
		font-size: 12px;
		font-weight: normal;
		font-face: Tahoma;
	}

}
