badass {

.navigationbar {
  text-align: center;
  }

  .card-background-page {


.button-layout {
	font-size: 1.6rem;
	width: 100% ;
  height:70px;
}

.card-title{
  text-align: center; 
}
.third{
  width: 10%; 
}
h3{
  text-align: center;
  font-size: 28px; 
  color: GREEN;  
}
.huvud{
  text-align: left; 
  text-font: Sans-serif;
  font-size: 16px;  
}
ion-icon{
  font-size: 50px; 
  color: GREEN; 
  text-align: center; 
}

.ikon{
  text-align: center;   
}

.knapp{
margin-top: 10%;
margin-bot: 5%;
margin-left: 5%; 
margin-right: 5%;
height: 15%;
width: 90%; 
}


.huvudscore{
  margin-left: 42%;
  font-size: 24px; 
}
}
}

