page-profile-settings {

ion-list-header{
	text-align: left;
}

.name{
font-size: 1,6em;
text-align: center;


}

.lower{
}

.button-layout {
width: 100% ;

}
.name{
text-align: center;
font-size: 28px;
}


.userPic {
width: 100%;
text-align: center;

img {
   padding: 10px;
   width: 100px;
   height: 100px;
   text-color: black;
}
    ion-icon{
    font-size: 50px;
    color: #678567;
    }

}



}
