page-messages-pop-over {

  .navigationbar {
    text-align: center;
    }

.message-pop-over-page{

  ion-item {
     position: relative;
     text-align: center;
     height:10%;
   }

   .lower{
     margin-top: 100%;
     position: float bottom;
   }

   .box {

 		float: right;
 		 margin-right: 5%;
 	}

   }
 }
